@tailwind base;

@layer base {
  body {
    @apply bg-zinc-100 text-zinc-900;
  }

  html {
    font-family: Open Sans, system-ui, sans-serif;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
