@tailwind base;

@layer base {
    h1 {
        @apply text-6xl font-bold py-4;
    }

    h2 {
        @apply text-4xl font-bold py-4;
    }

    h3 {
        @apply text-2xl font-bold py-2;
    }

    p {
        @apply text-lg
    }

    a {
        @apply text-white;
    }

    a:hover {
        @apply text-green-400;
    }

    body {
        @apply bg-slate-900 text-white
    }
    article {
        @apply prose prose-2xl prose-invert
    }

    html {
        font-family: Open Sans, system-ui, sans-serif;
    }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}